@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.5;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  color: #000000;
  font-size: 1.6rem;
  color: #000000;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.section__wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.section__title {
  font-size: 3.6rem;
  text-align: center;
  font-weight: normal;
}

.section__title::before {
  content: url(/images/logo02@2x.png);
  display: block;
}

.fv {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.fv a {
  color: #ffffff;
}

.fv__img {
  z-index: -2;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 21s 0s infinite;
          animation: anime 21s 0s infinite;
}

.fv__img:nth-of-type(2) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.fv__img:nth-of-type(3) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header.change-color {
  background-color: #ffffff;
}

.header.change-color a {
  color: #000000;
}

.header__inner {
  height: 80px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 520px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.2rem;
  letter-spacing: 0.18em;
}

.header__site-title::before {
  content: url(/images/logo01.png);
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px 5px 0;
}

.header__site-title.change-before::before {
  content: url(/images/logo02@2x.png);
}

.header__menu {
  display: block;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list-item {
  font-weight: 700;
  margin-right: 30px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__inner--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger__btn {
  display: none;
}

.bar {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bar.change-background-color {
  background-color: #000000;
}

.bar_top, .bar_mid {
  margin-bottom: 7px;
}

.header__reservation {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 54px;
  background-color: #978F10;
  border: 1px solid #707070;
  cursor: pointer;
}

.header__reservation::before {
  content: url(/images/calender.png);
  display: inline-block;
  margin-right: 8px;
}

.modalArea {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #000000;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  max-width: 500px;
  padding: 30px 60px 90px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: -0.5rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 3.8rem;
}

.modalArea__title {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7e7e7;
  font-weight: normal;
}

.form__body {
  margin-top: 15px;
}

.form__body:first-of-type {
  margin-top: 15px;
}

.form__body input, .form__body select {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border: 1px solid #e7e7e7;
  color: #797878;
}

.form__text {
  margin-top: 10px;
}

.form__submit-btn {
  display: block;
  padding: 13px 67px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #707070;
  margin: 64px auto 0px;
}

.copy {
  color: #ffffff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2.8rem;
  position: absolute;
  top: 40vh;
  right: 26.4583%;
  line-height: 3;
  letter-spacing: 0.625rem;
}

.preface {
  background-image: url(/images/bg01@2x.png);
  padding: 150px 4vw 75px;
}

.preface__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: left;
}

.preface__title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: inline-block;
  margin-right: 10%;
  font-size: 2.8rem;
  font-weight: normal;
  text-indent: -3em;
  line-height: 2;
  letter-spacing: 0.5em;
}

.preface__text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
  margin-right: 10%;
  line-height: 2;
  letter-spacing: 0.4em;
}

.preface__name {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
  margin-right: 10%;
  font-size: 2.2rem;
  letter-spacing: 0.5em;
  text-align: right;
}

.contents {
  padding: 106px 0 78px;
}

.contents__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 122px;
}

.contents__box:last-child {
  margin-bottom: 0;
}

.contents__img-wrapper {
  width: 54.6875%;
  margin-right: 7.1354%;
}

.contents__body {
  padding-top: 30px;
}

.contents--reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contents__img-wrapper--reverse {
  width: 54.6875%;
}

.contents__body--reverse {
  margin-right: 7.134545%;
}

.contents__title {
  font-size: 3.6rem;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 75px;
}

.contents__text {
  line-height: 2;
  margin-bottom: 75px;
}

.contents__btn {
  color: #000000;
  display: block;
  width: 200px;
  max-width: 100%;
  padding: 16px 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #707070;
}

.lodging-plan {
  background-image: url(/images/bg02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 4vw 144px;
}

.lodging-plan__plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.lodging-plans_item {
  width: 28.0508%;
}

.lodging-plan__img-wrapper img {
  height: 209px;
  -o-object-fit: cover;
     object-fit: cover;
}

.lodging-plan__body {
  padding-top: 30px;
}

.lodging-plan__title {
  font-size: 2rem;
  font-weight: 400;
}

.lodging-plan__text {
  margin-top: 36px;
  line-height: 2;
}

footer {
  background-image: url(/images/bg3.jpg);
  padding-top: 64px;
}

.page-link {
  text-align: center;
}

.page-link__category {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: inline-block;
  vertical-align: top;
  margin-right: 34px;
}

.page-link__category:last-child {
  margin-right: 0;
}

.page-link__category a {
  color: #000000;
  display: block;
  letter-spacing: 0.7em;
}

.footer__company {
  margin-top: 96px;
  text-align: center;
}

.footer__company a {
  color: #000000;
}

.footer__company-name {
  font-size: 3.2rem;
  letter-spacing: 0.18em;
  font-weight: 600;
}

.footer__company-name::before {
  content: url("/images/logo02@2x.png");
  display: block;
}

.footer__company-address {
  margin-top: 72px;
}

.footer__company--right {
  margin-left: 20px;
}

.footer__company-tel {
  margin-top: 23px;
}

.footer__foot {
  margin-top: 84px;
  color: #ffffff;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 4.5;
}

.lower-fv {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 580px;
  position: relative;
  color: #ffffff;
  width: 100vw;
}

.lower-fv a {
  color: #000000;
}

.lower-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.lower-header__site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.2rem;
  letter-spacing: 0.18em;
}

.lower-header__site-title::before {
  content: url(/images/logo02@2x.png);
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px 5px 0;
}

.lower-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.4rem;
  font-weight: 700;
}

.lower-intro {
  padding: 100px 30px 0;
  text-align: center;
  line-height: 2.5;
}

.breadcrumb {
  padding-top: 36px;
}

.breadcrumb a {
  color: #000000;
}

.breadcrumb ul {
  max-width: 1180px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.breadcrumb ul li:last-of-type::before {
  content: ">";
  margin: 0 10px;
}

.lower-detail {
  padding: 70px 30px 150px;
}

.lower-detail__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 450px;
  margin-bottom: 84px;
  position: relative;
}

.lower-detail__media:last-of-type {
  margin-bottom: 0;
}

.lower-detail__media:nth-of-type(even) .media__img-wrapper {
  margin-left: auto;
}

.lower-detail__media:nth-of-type(even) .media__body {
  left: 0;
  padding: 60px 19% 20px 4%;
}

.media__img-wrapper {
  width: 44.4915%;
  height: calc(1180px * 0.445 * 0.57);
}

.media__img-wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.media__body {
  background-image: url(/images/bg.png);
  position: absolute;
  top: 70px;
  right: 0;
  z-index: -1;
  padding: 60px 4% 20px 19%;
  width: 68.9%;
  height: 381px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.media__title {
  font-size: 2.4rem;
  margin-bottom: 52px;
}

.media__text {
  line-height: 2;
  margin-bottom: 52px;
}

.media__notes {
  font-size: 1.4rem;
  padding-left: 5px;
}

.btn__bg-color {
  background-color: #000000;
}
/*# sourceMappingURL=style.css.map */