@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.5;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body{
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  color: #000000;
  font-size: 1.6rem;
  color: #000000;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.section__wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

//273
.header__inner {
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner--left {
  display: flex;
  width: 520px;
  justify-content: space-between;
  align-items: center;
}

//353
.header__menu {
  display: block;
}

.header__list {
  display: flex;
}

.header__list-item {
  font-weight: 700;
  margin-right: 30px;

  &:last-child-item {
    margin-right: 0;
  }
}

.header__inner--right {
  display: flex;
}

//457
 .burger__btn {
   display: none;
 }

.bar {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #ffffff;
  transition: 0.3s;
}

.bar_top, .bar_mid {
  margin-bottom: 7px;
}

.header__reservation {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 54px;
  background-color: #978F10;
  border: 1px solid #707070;
  cursor: pointer;

  &::before {
    content: url(/images/calender.png);
    display: inline-block;
    margin-right: 8px;
  }
}

//1326
.lower-fv{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 580px;
  position: relative;
  color: #ffffff;
  width: 100vw;

  a {
    color: #000000;
  }
}

//1346
.lower-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.lower-header__site-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.2rem;
  letter-spacing:0.18em;

  &::before {
    content: url(/images/logo02@2x.png);
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px 5px 0;
  }
}

//1386
.lower-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.4rem;
  font-weight: 700;
}

///1402
.lower-intro {
  padding: 100px 30px 0;
  text-align: center;
  line-height: 2.5;
}

//1415
.breadcrumb {
  padding-top: 36px;

  a {
    color: #000000;
  }

  ul {
    max-width: 1180px;
    width: 100%;
    display: flex;
    margin: 0 auto;

    li:last-of-type::before {
      content: ">";
      margin: 0 10px;
    }
  }
}

//1578
.btn__bg-color {
  background-color: #000000;
}